@media (min-width: 1200px) {
    .container-carousel {
        background-color: black;
        .carousel {
            margin: auto;
            width: 70%;
            .carousel-indicators {
                gap: 25px;
                button {
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                }
            }
            .carousel-inner {
                .carousel-item {
                    img {
                        height: 70vh;
                        width: 80%;
                    }
                }
            }
            .carousel-control-prev {
                background-color: black;
                margin: auto;
                height: 80px;
                width: 60px;
                .carousel-control-prev-icon {
                }

            }
            .carousel-control-next {
                background-color: black;
                margin: auto;
                height: 80px;
                width: 60px;
                .carousel-control-next-icon {
                }
            }
        }
    }

    .container-carousel-servicios {
        .carousel {
            margin: auto;
            width: 80%;
            .carousel-indicators {
                gap: 25px;
                button {
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                }
            }
            .carousel-inner {
                  .carousel-item {
                    img {
                        height: 80vh;
                        width: 100%;
                        object-fit: cover;
                    }
                    .carousel-caption {
                        background-color: rgba(0, 0, 0, 0.859);
                        width: 480px;
                        margin: auto;
                    }
                  }  
            }
            .carousel-control-prev {
                .carousel-control-prev-icon {
                    .visually-hidden {

                    }
                }
            }
            .carousel-control-next {
                .carousel-control-next-icon {
                    .visually-hidden {
                        
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .container-carousel {
        background-color: black;
        .carousel {
            margin: auto;
            width: 100%;
            .carousel-indicators {
                gap: 25px;
                button {
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                }
            }
            .carousel-inner {
                .carousel-item {
                    img {
                        height: 45vh;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .carousel-control-prev {
                .carousel-control-prev-icon {
                }

            }
            .carousel-control-next {
                .carousel-control-next-icon {
                }
            }
        }
    }

    .container-carousel-servicios {
        .carousel {
            .carousel-indicators {
            }
            .carousel-inner {
                  .carousel-item {

                  }  
            }
            .carousel-control-prev {
                .carousel-control-prev-icon {
                    .visually-hidden {

                    }
                }
            }
            .carousel-control-next {
                .carousel-control-next-icon {
                    .visually-hidden {
                        
                    }
                }
            }
        }
    }
}